<div class="jumbotron text-center">
  <h3>Volunteering Marathon Application</h3>
  <p style="text-align: justify">A volunteering marathon is a mass volunteering event across locations to create a buzz
    on volunteering through a
    variety of opportunities in a short time span. A volunteering marathon is mostly scheduled for a window of 24 or 48
    hours. During the window, different volunteering opportunities are created through different slots covering the
    entire time period.</p>
  <p style="text-align: justify">Volunteering Marathon Application helps to track all the events and volunteers
    (associates) register for the events through the application. The application also helps with the reporting and
    dashboard.
    The application should be data driven and empowered with analytics. The whole integration process should run
    smoothly. The UI and data should be more responsive/expressive and build a dashboard with aggregated data in
    combination with area/bar charts, histograms, etc.
  </p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6" style="text-align: justify">
      <ul>
        <li>Volunteering marathon is scheduled for the duration which is set during event creation.</li>
        <li>During the window, different volunteering opportunities are created through different slots covering the
          entire time period.</li>
        <li>The Admin/PMO should be able to create multiple volunteering opportunities with details at a time over a
          bulk excel upload.</li>
        <li>Associates should be able to view the volunteering opportunities and register for the same. On registration
          email notification to be sent.</li>
        <li>A team can also do a bulk registration for their team members for an event and notifications should be sent
          to all.</li>
        <li>Associates should be able to view the registered event details on a click.</li>
      </ul>
    </div>
    <div class="col-sm-6" style="text-align: justify">
      <ul>
        <li>Dashboard helps to view, the volunteer requirement in different time slots and also if all time slots in the
          24 hour / 48-hour period have at least 1 volunteering opportunity.</li>
        <li>Dashboard/Reports should be live on application portal</li>
        <li>Email triggers with key insights from the reports and dashboard for the campaign team (admin)</li>
        <li>The outreach admin team should be able to export the volunteering details over excel.</li>
        <li>The campaign team(admin) should be able to see & track the volunteer registrations for each event at a
          location and if possible at a project team level (team information shall be captured during registration)</li>
        <li>Post event tracking of actual participants and tracked efforts should be exported to excel in the Outreach
          format</li>
      </ul>
    </div>

  </div>
</div>